body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* header */
header{
    background-color: #161A2A;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: auto;
    max-width: 4rem;
    padding: 0.5rem 1rem;
}
header ul{
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 5rem;
    list-style-type: none;
    align-content: center;
    gap: 1rem;
}
header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
}
/* main */
main{
    min-height: 37.5rem;
}



/* footer */
footer{
    background-color: #161A2A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
}
footer img{
    height: auto;
    max-width: 4rem;
    padding: 0.5rem 1rem;
}
footer ul{
    display: flex;
    padding: 0;
    margin: 0;
    margin: 0 5rem;
    list-style-type: none;
    align-content: center;
    gap: 1rem;
}
footer a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
}